.tdDitePlan td {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px black;
    width: 50%;
    border: solid white 5px;
}
.btnDitePlan.btn-primary {
    background-color: rgb(77, 121, 34);
    
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px black;
    margin: 5px;
    border: solid white 3px;
    
}
.btnDitePlan.btn-primary:hover{
    background-color: rgb(41, 63, 19);
    border: solid rgb(145, 235, 54) 3px;

}
.tdDitePlan{
    border: solid white 3px;
}