
#logOut{
  background-color: transparent;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12.5pt;
  text-decoration: none;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1.25px 0;
  border-style: none;
 padding-left: 30px;
}