.parent{
    position: relative;
}

.parent img {
    position: absolute;
    top: 73%;
    right: 49%;
}

  .card-img-top {
    width: 205%;
} */
body{
    background-color:#FEFFDE;
}

#Login{
    position: absolute;
    top: 1000%;
    left: 70%;
    width: 20%;
    height: 50px;}

    /* h2{
        position: absolute;
        top: 400%;
        left: 73%;
    
    } */
    /* p{
        position: absolute;
        top: 200%;
        left: 73%; 
    } */