
.card{
    margin: auto;
    text-align: center;
    
  }
  .card-img-top {
    width: 205%;
}

#Login{
    position: absolute;
    
    width: 20%;
    height: 50px;
    margin-left: 20%;
    background-color: #064420;
    color:#E4EFE7;
    font-size: 18pt;
    }

    
    
    #mainh2{
          margin-left: 12%;
          margin-top: 10%;
        color: #064420;
        font-weight: bolder;
        font-size: 60pt;
       
      
        
        


    }
    #mainp{
        
        
        margin-left:5%;
        /* font-weight: bolder; */
        color:#064420;
        font-size: 40pt
        
        
    }
    