.w3-content {
  /* margin-left: 20%; */
  margin-top: 5%;
  /* float: left; */
}

.w3-row {
  width: 70%;
  padding: 2%;
  display:inline-block;


  margin-left: 15%;
  

}
/* .w3-content{
} */

.w3-container h3
 {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 0, 15);

}

.w3-container h5{
  font-style: italic;
  font-size: 12pt;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 0, 15);
}

.w3-card-4 {
  background-color:white;
}

.newbutton {
  padding: 2%;
  background-color: transparent;
  border: black;
  color: rgb(0, 0, 15);
  width: 56%;
  text-shadow: none;
  font-weight: lighter;
}

p .w3-padding-large {
  float: right;
  margin-left: 61.5%;
  margin-top: 0%;
}


    
.formTracker {
    width: 60%;
    margin-top: 5%;
    padding-left: 4%;
    margin-left: 5%;

}
.formRow .row{
    width: 80%;
    border-radius: 20px;
}


.formTrackers input[type="submit"] {
  border-radius: 42px;
  border: 1px solid #f2f2f2;
  color: white;
  cursor: default;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  padding: 0 16px;
  height: 36px;
  position: absolute;
  top: 58%;
  left: 30%;

  background-color:#213E3B ;
  /* height: 5%; */
}


.formTrackers .form-control {
  display: block;
  width: 70%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 8.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 5%;
  margin-left: 35%;
}


.newsPage{
  background-color: white;
  height: 800px;
 margin-top: -10%;

}

#newsLink{
  color: #212529;
  text-decoration: none;
  position: absolute;
  font-weight: 1000;
}

.formTrackers{
  overflow-x: hidden;}
